body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#dashboard {
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.dashboard__inner {
    position: relative;
    width: 1200px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.col-1 {
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.col-2 {
    position: absolute;
    top: 0;
    left: 420px;
    bottom: 0;
    right: 0;
}